# Python basics

### Calculator

In [1]:
num1=float(input("Enter a number: "))
num2=float(input("Enter another number: "))
result=num1 + num2
print(result)

Enter a number: 43.43
Enter another number: 343.6
387.03000000000003

### List

In [23]:
lista=["Luke","Vader","Leia"]

#### Print value in list by index

In [24]:
print(lista[1])

Vader

#### Rename value in list by index

In [25]:
lista[0]="Darth"

In [26]:
print(lista)

['Darth', 'Vader', 'Leia']

In [27]:
num=[1,2,4,6,7,9,10]
char=["Vader","Darth","Maul","Anakin","Sidious"]

In [28]:
print(char)

['Vader', 'Darth', 'Maul', 'Anakin', 'Sidious']

#### Adding list to another list

In [29]:
char.extend(num)

In [30]:
print(char)

['Vader', 'Darth', 'Maul', 'Anakin', 'Sidious', 1, 2, 4, 6, 7, 9, 10]

#### Adding  value in list by append

In [31]:
char.append("Skywalker")

In [32]:
print(char)

['Vader', 'Darth', 'Maul', 'Anakin', 'Sidious', 1, 2, 4, 6, 7, 9, 10, 'Skywalker']

#### Inserting value in list by index

In [33]:
char.insert(1,"Riddick")

In [34]:
print(char)

['Vader', 'Riddick', 'Darth', 'Maul', 'Anakin', 'Sidious', 1, 2, 4, 6, 7, 9, 10, 'Skywalker']

#### Remove value with remove ( in brackets value we want remove)

In [35]:
char.remove(1)

In [36]:
print(char)

['Vader', 'Riddick', 'Darth', 'Maul', 'Anakin', 'Sidious', 2, 4, 6, 7, 9, 10, 'Skywalker']

#### removing last value in list

In [37]:
char.pop()

'Skywalker'

In [38]:
print(char)

['Vader', 'Riddick', 'Darth', 'Maul', 'Anakin', 'Sidious', 2, 4, 6, 7, 9, 10]

#### Print  index of value in list

In [39]:
print(char.index("Vader"))

0

In [40]:
print(char.count("Vader"))

1

#### Sorting values in list by alphabet

In [41]:
string=["Maraton","Odbojka","Nogomet","Ahilova peta"]

In [42]:
string.sort()

In [43]:
print(string)

['Ahilova peta', 'Maraton', 'Nogomet', 'Odbojka']

### Tuples

In [44]:
coordinates=(4,5)
print(coordinates[0])

4

#### List of tuples

In [45]:
coordinates_2=[(2,3),(4,6),(24,7)]

### Functions

In [46]:
def say_hi ():
    print("Hello user")

In [47]:
say_hi()

Hello user

In [48]:
def hi (name):
    print("Hello",name)

In [49]:
hi("Luka")

Hello Luka

### Return statement

In [53]:
def cube (num):
    return num*num*num

In [54]:
cube(3)

27

In [55]:
result=cube(4)
print(result)

64

## If statement

In [82]:
is_male=True
is_tall=False

In [84]:
if is_male==True or is_tall==True:
    print("You are a male or tall or bothe")
elif is_male==True and is_tall==False:
    print("You are male and not tall")
else:
    orint("NONOsdaf")

You are a male or tall or bothe

#### Max value

In [85]:
def max_num(num_1,num_2,num_3):
    if num_1>=num_2 and num_1>=num_3:
        return num_1
    elif num_2>=num_2 and num_2>=num_3:
        return num_2
    else:
        return num_3

In [86]:
max_num(2,3,5)

5

In [87]:
max_num(10,2,5)

10

### Building a better calculator

In [91]:
num1=float(input("Enter first number: "))
operator=input("Enter operator: ")
num2=float(input("Enter second number: "))

if operator =="+":
    print(num1 + num2)
elif operator =="-":
    print(num1 - num2)
elif operator=="/":
    print(num1/num2)
elif operator=="*":
    print(num1*num2)
else:
    print("Error")

Enter first number: 3.5
Enter operator: *
Enter second number: 2
7.0

### DIctionaries

In [92]:
months={
    "Jan":"January",
    "Feb":"February",
    "Mar":"March",
    "Apr":"April",
    "Ma":"May",
    "Jun":"June",
    "Jul":"July",
    "Aug":"August",
    "Oct":"October",
    "Nov":"NOvember",
    "Dec":"December"
}

In [93]:
print(months["Nov"])

NOvember

In [94]:
print(months.get("Dec"))

December

### While loop

In [95]:
i=1

while i<=10:
    print(i)
    i+=1
print("Done with loop")

1
2
3
4
5
6
7
8
9
10
Done with loop

### Building a guessing game

In [103]:
secret_word="elephant"
guess=""
guess_count=0
guess_limit=3
out_of_guess=False

while guess != secret_word and not(out_of_guess):
    if guess_count < guess_limit:
        guess=input("Enter guess: ")
        guess_count+=1
    else:
        out_of_guess==True
        
if out_of_guess==True:
    print("You lost")
else:
    print("You win")

Enter guess: dsa
Enter guess: dsa
Enter guess: elephant
You win

### For loops

In [105]:
for letter in "Elephant Academy":
    print(letter)

E
l
e
p
h
a
n
t

A
c
a
d
e
m
y

In [106]:
names=["Luka","Vader","Leia","Anakin"]

for name in names:
    print(name)

Luka
Vader
Leia
Anakin

In [109]:
for name in range(len(names)):
    print(name)

0
1
2
3

In [115]:
for i in range(5):
    if i==0:
        print("First")
    else:
        print("Not first")

First
Not first
Not first
Not first
Not first

### Exponent functions

In [113]:
def raise_to_power(base_num,pow_num):
    result=1
    for i in range(pow_num):
        result=result*base_num
    return result

In [114]:
raise_to_power(3,5)

243

In [116]:
raise_to_power(23,2)

529

### 2D Lists and Nested Lists

In [117]:
num_grid=[[2,3],[2,42,2],[2,4,7]]

In [118]:
print(num_grid[0][0])

2

In [119]:
print(num_grid[1][1])

42

In [122]:
for row in num_grid:
    for col in row:
        print(col)

2
3
2
42
2
2
4
7

### Building translator

In [130]:
def translate(phrase):
    translation=""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation=translation + "G"
            else:
                translation=translation + "g"
        else:
            translation=translation + letter
    return translation

In [131]:
print(translate(input("Enter a phrase: ")))

Enter a phrase: Onda
Gndg

### Try/Except

In [2]:
try:
    number=int(input("Enter a number: "))
    print(number)
except:
    print("Invalid input")

Enter a number: 45
45

In [3]:
try:
    number=int(input("Enter a number: "))
    print(number)
except:
    print("Invalid input")

Enter a number: fssdfsd
Invalid input

In [5]:
try:
    value=10/0
    number=int(input("Enter a number: "))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError:
    print("Invalid value")

division by zero

## Modules and Pip

In [6]:
#importing file with functions that we want
import useful_tools

In [ ]:
# using function "roll_dice" from usefull_tools file
print(useful_tools.roll_dice(10))

## Classes and objects

In [8]:
# class is overview of what student is
class Student:
    
    def __init__(self, name,major,gpa,is_on_probation):
        self.name=name
        self.major=major
        self.gpa=gpa
        self.is_on_probation=is_on_probation

In [9]:
# create student object
## from file import class

In [18]:
#object
student_1=Student("Luka","Business",4.5,False)
student_2=Student("Vader","Art",5,True)

In [19]:
print(student_1.name)
print(student_2.major)

Luka
Art

## Multiple choice quiz

In [20]:
question_prompts=["What color are apples?\n (a) Red/Green\n(b) Yellow/Black\n(c) Purple\n\n",
                 "What color are bannanas?\n (a) Magenta\n(b) Yellow\n(c) Orange\n\n",
                 "What color are strawberries?\n (a) Red\n(b) Black\n(c) Blue\n\n"]

In [22]:
class Question:
    def __init__(self,prompt,answer):
        self.prompt=prompt
        self.answer=answer

In [24]:
questions= [
    Question(question_prompts[0],"a"),
    Question(question_prompts[1],"b"),
    Question(question_prompts[2],"a")
      ]

In [25]:
def run_test(questions):
    score=0
    for question in questions:
        answer= input(question.prompt)
        if answer == question.answer:
            score+=1
    print("You got ",str(score),"/",str(len(questions))," correct")

In [26]:
run_test(questions)

What color are apples?
 (a) Red/Green
(b) Yellow/Black
(c) Purple

a
What color are bannanas?
 (a) Magenta
(b) Yellow
(c) Orange

a
What color are strawberries?
 (a) Red
(b) Black
(c) Blue

a
You got  2 / 3  correct

## Object functions

In [36]:
# class is overview of what student is
class Student:
    
    def __init__(self, name,major,gpa,is_on_probation):
        self.name=name
        self.major=major
        self.gpa=gpa
        self.is_on_probation=is_on_probation
        
        
    def on_honor_roll(self):
        if self.gpa >= 3.5:
            return True
        else:
            return False

In [37]:
#object
student_1=Student("Luka","Business",4.5,False)
student_2=Student("Vader","Art",2.1,True)

In [38]:
print(student_1.on_honor_roll())

True

In [39]:
print(student_2.on_honor_roll())

False

## Inheritance

In [40]:
class Chef:
    
    def make_chicken(self):
        print("The chef makes a chicken")
        
    def make_salad(self):
        print("The chef makes a salad")
        
    def make_special_dish(self):
        print("The chef makes a special dish")

In [41]:
myChef=Chef()

In [42]:
myChef.make_chicken()

The chef makes a chicken

In [43]:
class ChineseChef:
    
    def make_chicken(self):
        print("The chef makes a chicken")
        
    def make_salad(self):
        print("The chef makes a salad")
        
    def make_special_dish(self):
        print("The chef makes a banana split")
        
    def make_fried_rice(self):
        print("The chef makes fied rice")

In [44]:
myChineseChef=ChineseChef()

In [45]:
myChineseChef.make_fried_rice()

The chef makes fied rice

In [49]:
#inherited from class Chef -use all function from Chef also
class ChineseChef (Chef):
    
    def make_special_dish(self):
        print("The chef makes a special dish")
    
    def make_fried_rice(self):
        print("The chef makes fied rice")

In [50]:
myChineseChef=ChineseChef()

In [51]:
myChineseChef.make_salad()

The chef makes a salad

In [52]:
myChineseChef.make_special_dish()

The chef makes a special dish